:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  /* colors */
  --background: #1A1924;
  --success: #00B37E;
  --light-text: #E1E1E6;
  --primary: #633BBC;
  --secondary: #07847E;
  --primary-dark: #282843;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

#app {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
